.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.value {
  display: flex;
  align-items: center;
  gap: 6px;
}
